*.keystore
hisa_keypair*.txt
.codex
.codex/
.gradle/
.idea/
.kotlin/
build*
build/
app/build/
gradle-*
*.md
scripts/*
keystore.*

# Ignore Gradle-generated problem reports
build/reports/problems/
build/reports/problems/problems-report.html
